node_modules/
*.pptx
*.docx
*.pdf
*.doc
*.zip
extracted_texts/
Output/images/extracted/
Output/images/web/
Output/images/slides/
Output/*.md
Output/*.js
Output/*.json
Output/*.exe
Data/*
!Data/.gitkeep
!Output/.gitkeep
!Output/images/.gitkeep
